{{ define "captcha.html" }} 
<div>
    <includetail>
        <table
            style="font-family: Segoe UI, SegoeUIWF, Arial, sans-serif; font-size: 12px; color: #333333; border-spacing: 0px; border-collapse: collapse; padding: 0px; width: 580px; direction: ltr">
            <tbody>
                <tr style="background-color: rgb(254,160,163)">
                    <td style="padding: 0px">
                        <table
                            style="font-family: Segoe UI, SegoeUIWF, Arial, sans-serif; border-spacing: 0px; border-collapse: collapse; width: 100%">
                            <tbody>
                                <tr>
                                    <td style="padding: 25px 25px 15px 25px;">
                                        <img src="https://cdn.friendship.org.cn/LightPicture/2022/10/08d7ab29b2e3edd1.png">
                                    </td>
                                    <td style="padding: 0px; width: 100%">
                                    </td>
                                    <td style="padding: 25px 25px 15px 25px;">
                                        <img src="https://cdn.friendship.org.cn/LightPicture/2022/10/9b7f65633f17419a.png">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 38px; color: #FFFFFF; padding: 12px 22px 4px 22px"
                                        colspan="3">
                                        安全代码
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 20px; color: #FFFFFF; padding: 0px 22px 18px 22px"
                                        colspan="3">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td
                        style="padding: 30px 20px; border-bottom-style: solid; border-bottom-color: rgb(254,160,163); border-bottom-width: 4px">
                        <table
                            style="font-family: Segoe UI, SegoeUIWF, Arial, sans-serif; font-size: 12px; color: #333333; border-spacing: 0px; border-collapse: collapse; width: 100%">
                            <tbody>
                                <tr>
                                    <td style="font-size: 16px; padding: 0px 0px 15px 0px">
                                        你正在请求以下安全代码以访问 Friendship Cloud 服务。
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 30px; padding: 0px 0px 15px 0px;color: gray;">
                                        {{ .code }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; padding: 0px 0px 30px 0px">
                                        请求此安全代码的设备访问来自于 {{ .ip }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 12px; padding: 0px 0px 15px 0px">
                                        未授权此请求？
                                        <a href="#" style="color: #0044CC; text-decoration: none">立即修改您的密码</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 12px; padding: 0px 0px 15px 0px;">
                                        需要技术人员协助？
                                        <a href="#" style="color: #0044CC; text-decoration: none">访问 Friendship
                                            Cloud 用户支持</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 12px; padding: 0px;">
                                        此邮件来自于一个无人值守的邮件地址，请勿回复此邮件。
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0px 0px 10px 0px;">
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0px 0px 15px 0px; color: #B2B2B2; font-size: 12px;">
                        Friendship Studio 团队
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0px 0px 10px 0px; color: #B2B2B2; font-size: 12px; text-align: right;">
                        版权所有&copy;Friendship Studio
                        <br>
                        <a href="https://wiki.friendship.org.cn/wiki/FriendshipWiki:Privacy"
                            style="color: #0044CC">隐私声明</a>
                        <br>
                        <a href="https://wiki.friendship.org.cn/wiki/FriendshipWiki:Terms"
                            style="color: #0044CC">用户协议</a>

                    </td>
                </tr>
            </tbody>
        </table>
    </includetail>
</div>
{{ end }}